type hal_dumpstate_impl, domain, hal_dumpstate;
type hal_dumpstate_impl_exec, exec_type, file_type;
allow hal_dumpstate_impl hidl_base_hwservice:hwservice_manager add;

init_daemon_domain(hal_dumpstate_impl)

# supress audit messages for attempting access to /firmware
dontaudit dumpstate firmware_file:dir search;

