allow init adsprpcd_file:filesystem { mount relabelfrom relabelto };
allow init debugfs:file write;
allow init perfd:unix_stream_socket connectto;
allow init perfd_data_file:sock_file write;
allow init system_data_file:file { ioctl lock };
#allow init vendor_file:file execute_no_trans;
