allow priv_app adsprpcd_file:filesystem getattr;
allow priv_app device:dir { open read };
allow priv_app firmware_file:dir search;
allow priv_app firmware_file:file { getattr open read };
allow priv_app proc_interrupts:file { open read };
