# SPECTRUM KERNEL MANAGER
# Ramdisk file for profile based kernel management
# Implimentation inspired by Franco's fku profiles

# Initialization
on property:sys.boot_completed=1
   # Set default profile on first boot
   exec u:r:init:s0 root root -- /init.spectrum.sh
   exec u:r:su:s0 root root -- /init.spectrum.sh
   # Enable Spectrum support
   setprop spectrum.support 1
   
   setprop persist.spectrum.kernel AEX-HMP

# Balance (default profile)
on property:persist.spectrum.profile=0
    # Configure governor settings for little cluster
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 307200
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1478400
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/is_locked 0
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load 90
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay 22000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate 20000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq 844800
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_slack 20000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads "80 307200:20 307200:25 480000:30 556800:35 556800:40 729600:45 844800:50 844800:55 1036800:60 1036800:65 1036800:70 1228800:75 1228800:80 1228800:85 1478400:90 1478400:95 1478400:100"
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time 18000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/ignore_hispeed_on_notif 1
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/boost 0
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/fast_ramp_down 1
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/align_windows 0
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/use_migration_notif 1
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/enable_prediction 1
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/use_sched_load 1
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/max_freq_hysteresis 78000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse_duration 80000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/is_locked 1

    # Configure governor settings for big cluster
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq 307200
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq 2150400
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu2/cpufreq/interactive/is_locked 0
    write /sys/devices/system/cpu/cpu2/cpufreq/interactive/go_hispeed_load 85
    write /sys/devices/system/cpu/cpu2/cpufreq/interactive/above_hispeed_delay "13000 1324800:13000 1632000:21000 1996800:21000"
    write /sys/devices/system/cpu/cpu2/cpufreq/interactive/timer_rate 10000
    write /sys/devices/system/cpu/cpu2/cpufreq/interactive/hispeed_freq 940800
    write /sys/devices/system/cpu/cpu2/cpufreq/interactive/timer_slack 3333
    write /sys/devices/system/cpu/cpu2/cpufreq/interactive/target_loads "85 307200:20 307200:25 480000:30 806400:35 940800:40 1190400:45 1248000:50 1248000:55 1478400:60 1555200:65 1555200:70 1785600:75 1824000:80 1996800:85 2073600:90 2073600:95 2073600:100"
    write /sys/devices/system/cpu/cpu2/cpufreq/interactive/min_sample_time 18000
    write /sys/devices/system/cpu/cpu2/cpufreq/interactive/ignore_hispeed_on_notif 1
    write /sys/devices/system/cpu/cpu2/cpufreq/interactive/boost 0
    write /sys/devices/system/cpu/cpu2/cpufreq/interactive/fast_ramp_down 1
    write /sys/devices/system/cpu/cpu2/cpufreq/interactive/align_windows 0
    write /sys/devices/system/cpu/cpu2/cpufreq/interactive/use_migration_notif 1
    write /sys/devices/system/cpu/cpu2/cpufreq/interactive/enable_prediction 0
    write /sys/devices/system/cpu/cpu2/cpufreq/interactive/use_sched_load 1
    write /sys/devices/system/cpu/cpu2/cpufreq/interactive/max_freq_hysteresis 100000
    write /sys/devices/system/cpu/cpu2/cpufreq/interactive/boostpulse_duration 80000
    write /sys/devices/system/cpu/cpu2/cpufreq/interactive/is_locked 1

    write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 624000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 133000000
    write /sys/class/kgsl/kgsl-3d0/default_pwrlevel 6
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor msm-adreno-tz
    write /sys/block/dm-0/queue/read_ahead_kb 128
    write /sys/block/sda/queue/read_ahead_kb 128
    write /sys/block/sde/queue/read_ahead_kb 128
    write /sys/block/dm-0/queue/scheduler bfq
    write /sys/block/sda/queue/scheduler bfq
    write /sys/block/sde/queue/scheduler bfq
    write /sys/block/sda/queue/iostats 0
    write /sys/block/sde/queue/iostats 0
    write /sys/module/workqueue/parameters/power_efficient Y
    write /proc/sys/kernel/sched_boost 0


# Performance 
on property:persist.spectrum.profile=1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "hyperx"
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor "hyperx"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 307200
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1593600
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq 307200
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq 2150400
    write /sys/devices/system/cpu/cpu0/cpufreq/hyperx/above_hispeed_delay 19000
    write /sys/devices/system/cpu/cpu0/cpufreq/hyperx/align_windows 0
    write /sys/devices/system/cpu/cpu0/cpufreq/hyperx/boost 0
    write /sys/devices/system/cpu/cpu0/cpufreq/hyperx/boostpulse
    write /sys/devices/system/cpu/cpu0/cpufreq/hyperx/boostpulse_duration 80000
    write /sys/devices/system/cpu/cpu0/cpufreq/hyperx/go_hispeed_load 75
    write /sys/devices/system/cpu/cpu0/cpufreq/hyperx/hispeed_freq 1324800
    write /sys/devices/system/cpu/cpu0/cpufreq/hyperx/io_is_busy 1
    write /sys/devices/system/cpu/cpu0/cpufreq/hyperx/max_freq_hysteresis 95000
    write /sys/devices/system/cpu/cpu0/cpufreq/hyperx/min_sample_time 30000
    write /sys/devices/system/cpu/cpu0/cpufreq/hyperx/target_loads "83 1478400:90 1593600:95"
    write /sys/devices/system/cpu/cpu0/cpufreq/hyperx/timer_rate 10000
    write /sys/devices/system/cpu/cpu0/cpufreq/hyperx/timer_slack 80000
    write /sys/devices/system/cpu/cpu0/cpufreq/hyperx/use_migration_notif 1
    write /sys/devices/system/cpu/cpu0/cpufreq/hyperx/use_shed_load 1
    write /sys/devices/system/cpu/cpu2/cpufreq/hyperx/above_hispeed_delay 19000
    write /sys/devices/system/cpu/cpu2/cpufreq/hyperx/align_windows 0
    write /sys/devices/system/cpu/cpu2/cpufreq/hyperx/boost 0
    write /sys/devices/system/cpu/cpu2/cpufreq/hyperx/boostpulse
    write /sys/devices/system/cpu/cpu2/cpufreq/hyperx/boostpulse_duration 80000 	
    write /sys/devices/system/cpu/cpu2/cpufreq/hyperx/go_hispeed_load 75
    write /sys/devices/system/cpu/cpu2/cpufreq/hyperx/hispeed_freq 1708800
    write /sys/devices/system/cpu/cpu2/cpufreq/hyperx/io_is_busy 1
    write /sys/devices/system/cpu/cpu2/cpufreq/hyperx/max_freq_hysteresis 95000
    write /sys/devices/system/cpu/cpu2/cpufreq/hyperx/min_sample_time 30000
    write /sys/devices/system/cpu/cpu2/cpufreq/hyperx/target_loads "83 2073600:90 2150400:95"
    write /sys/devices/system/cpu/cpu2/cpufreq/hyperx/timer_rate 10000
    write /sys/devices/system/cpu/cpu2/cpufreq/hyperx/timer_slack 80000
    write /sys/devices/system/cpu/cpu2/cpufreq/hyperx/use_migration_notif 1
    write /sys/devices/system/cpu/cpu2/cpufreq/hyperx/use_shed_load 1
    #write /sys/kernel/cpu_input_boost/ib_freqs "1363200 1363200"
    #write /sys/kernel/cpu_input_boost/ib_duration_ms 1000
    #write /sys/kernel/cpu_input_boost/enabled 1
    write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 624000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 315000000
    write /sys/class/kgsl/kgsl-3d0/default_pwrlevel 4
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor msm-adreno-tz
    write /sys/block/dm-0/queue/read_ahead_kb 1024
    write /sys/block/sda/queue/read_ahead_kb 1024
    write /sys/block/sde/queue/read_ahead_kb 1024
    write /sys/block/dm-0/queue/scheduler deadline
    write /sys/block/sda/queue/scheduler deadline
    write /sys/block/sde/queue/scheduler deadline
    write /sys/block/sda/queue/iostats 0
    write /sys/block/sde/queue/iostats 0
    write /sys/module/workqueue/parameters/power_efficient N
    write /sys/kernel/sched/arch_power 0
    write /proc/sys/kernel/sched_boost 1

# Battery
on property:persist.spectrum.profile=2
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "blu_active"
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor "blu_active"
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor "blu_active"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 307200
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1363200
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq 307200
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq 1363200
    write /sys/devices/system/cpu/cpu0/cpufreq/blu_active/go_hispeed_load 99
    write /sys/devices/system/cpu/cpu0/cpufreq/blu_active/above_hispeed_delay 25000
    write /sys/devices/system/cpu/cpu0/cpufreq/blu_active/timer_rate 20000
    write /sys/devices/system/cpu/cpu0/cpufreq/blu_active/hispeed_freq 979200
    write /sys/devices/system/cpu/cpu0/cpufreq/blu_active/timer_slack -1
    write /sys/devices/system/cpu/cpu0/cpufreq/blu_active/target_loads 60
    write /sys/devices/system/cpu/cpu0/cpufreq/blu_active/min_sample_time 45000
    write /sys/devices/system/cpu/cpu0/cpufreq/blu_active/fastlane_threshold 35
    write /sys/devices/system/cpu/cpu0/cpufreq/blu_active/fastlane 0
    write /sys/devices/system/cpu/cpu0/cpufreq/blu_active/align_windows 1
    write /sys/devices/system/cpu/cpu0/cpufreq/blu_active/io_is_busy 1
    write /sys/devices/system/cpu/cpu2/cpufreq/blu_active/go_hispeed_load 99
    write /sys/devices/system/cpu/cpu2/cpufreq/blu_active/above_hispeed_delay 25000
    write /sys/devices/system/cpu/cpu2/cpufreq/blu_active/timer_rate 35000
    write /sys/devices/system/cpu/cpu2/cpufreq/blu_active/hispeed_freq 1286400
    write /sys/devices/system/cpu/cpu2/cpufreq/blu_active/timer_slack 20000
    write /sys/devices/system/cpu/cpu2/cpufreq/blu_active/target_loads 50
    write /sys/devices/system/cpu/cpu2/cpufreq/blu_active/min_sample_time -1
    write /sys/devices/system/cpu/cpu2/cpufreq/blu_active/fastlane_threshold 35
    write /sys/devices/system/cpu/cpu2/cpufreq/blu_active/fastlane 1
    write /sys/devices/system/cpu/cpu2/cpufreq/blu_active/align_windows 1
    write /sys/devices/system/cpu/cpu2/cpufreq/blu_active/io_is_busy 1
    write /sys/kernel/cpu_input_boost/enabled 0
    write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 401800000
    write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 133000000
    write /sys/class/kgsl/kgsl-3d0/default_pwrlevel 6
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor powersave
    write /sys/block/dm-0/queue/read_ahead_kb 256
    write /sys/block/sda/queue/read_ahead_kb 256
    write /sys/block/sde/queue/read_ahead_kb 256
    write /sys/block/dm-0/queue/scheduler noop
    write /sys/block/sda/queue/scheduler noop
    write /sys/block/sde/queue/scheduler noop
    write /sys/module/workqueue/parameters/power_efficient Y
    write /sys/kernel/sched/arch_power 1
    write /proc/sys/kernel/sched_boost 0

# Gaming
on property:persist.spectrum.profile=3
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "blu_active"
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor "blu_active"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 307200
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1593600 
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq 307200
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq 2150400
    write /sys/devices/system/cpu/cpu0/cpufreq/blu_active/go_hispeed_load 75
    write /sys/devices/system/cpu/cpu0/cpufreq/blu_active/above_hispeed_delay 0
    write /sys/devices/system/cpu/cpu0/cpufreq/blu_active/timer_rate 40000
    write /sys/devices/system/cpu/cpu0/cpufreq/blu_active/hispeed_freq 1363200
    write /sys/devices/system/cpu/cpu0/cpufreq/blu_active/timer_slack -1
    write /sys/devices/system/cpu/cpu0/cpufreq/blu_active/target_loads "80 614400:33 844800:25 979200:50 1209600:65 1363200:70 1516800:85 1593600:90"
    write /sys/devices/system/cpu/cpu0/cpufreq/blu_active/min_sample_time 40000
    write /sys/devices/system/cpu/cpu0/cpufreq/blu_active/fastlane_threshold 35
    write /sys/devices/system/cpu/cpu0/cpufreq/blu_active/fastlane 0
    write /sys/devices/system/cpu/cpu0/cpufreq/blu_active/align_windows 0
    write /sys/devices/system/cpu/cpu0/cpufreq/blu_active/io_is_busy 1
    write /sys/devices/system/cpu/cpu2/cpufreq/blu_active/go_hispeed_load 90
    write /sys/devices/system/cpu/cpu2/cpufreq/blu_active/above_hispeed_delay 0
    write /sys/devices/system/cpu/cpu2/cpufreq/blu_active/timer_rate 20000
    write /sys/devices/system/cpu/cpu2/cpufreq/blu_active/hispeed_freq 1363200
    write /sys/devices/system/cpu/cpu2/cpufreq/blu_active/timer_slack -1
    write /sys/devices/system/cpu/cpu2/cpufreq/blu_active/target_loads "74 979200:73 1132800:64 1209600:80 1286400:61 1440000:69 1670400:64 1900800:74 1977600:69 2054400:67 2150400:72"
    write /sys/devices/system/cpu/cpu2/cpufreq/blu_active/min_sample_time 40000
    write /sys/devices/system/cpu/cpu2/cpufreq/blu_active/fastlane_threshold 35
    write /sys/devices/system/cpu/cpu2/cpufreq/blu_active/fastlane 0
    write /sys/devices/system/cpu/cpu2/cpufreq/blu_active/align_windows 0
    write /sys/devices/system/cpu/cpu2/cpufreq/blu_active/io_is_busy 1
    #write /sys/kernel/cpu_input_boost/ib_freqs "960000 1363200"
    #write /sys/kernel/cpu_input_boost/ib_duration_ms 1000
    write /sys/kernel/cpu_input_boost/enabled 1
    write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 624000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 315000000
    write /sys/class/kgsl/kgsl-3d0/default_pwrlevel 4
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor msm-adreno-tz
    write /sys/block/dm-0/queue/read_ahead_kb 1024
    write /sys/block/sda/queue/read_ahead_kb 1024
    write /sys/block/sde/queue/read_ahead_kb 1024
    write /sys/block/dm-0/queue/scheduler deadline
    write /sys/block/sda/queue/scheduler deadline
    write /sys/block/sde/queue/scheduler deadline
    write /sys/module/workqueue/parameters/power_efficient N
    write /sys/kernel/sched/arch_power 0
    write /proc/sys/kernel/sched_boost 1
